alias cat="bat"

alias commit="gpgHelper; git commit"

alias flext="sbt \"run transpile\""
alias flex="sbt \"run repl\""

alias j12="export JAVA_HOME=`/usr/libexec/java_home -v 12`; java -version"
alias j11="export JAVA_HOME=`/usr/libexec/java_home -v 11`; java -version"
alias j8="export JAVA_HOME=`/usr/libexec/java_home -v 1.8`; java -version"
